.nav a {
    font-family: sans-serif;
    font-size: 16px;
    padding: 10px 8px;
    position: relative;
    text-decoration: none;
    top: 0.75em;
}

.footer {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
