.nav a {
    font-family: sans-serif;
    font-size: 16px;
    padding: 10px 8px;
    position: relative;
    text-decoration: none;
    top: 0.75em;
}

.footer {
    top: 1;
    left: 50%;
    position: fixed;
    width: 100%;
}
